*{
    margin: 0;
    padding: 0;
}
.topbar{
    width: 100%;
    height: 50px;
    background-color: rgba(248, 79, 76);
    position: fixed;
    top: 0;
    z-index: 99999;
}
.topbar:after{
    content: '.';
    visibility: hidden;
    clear: both;
    height: 0;
    display: block;
}
.logo{
    float: left;
    margin-left: 500px;
    font: 30px/50px 'Microsoft YaHei',"PingFang SC";
    color: white;
    list-style: none;
}
#topbar-todo{
    margin-top: 8px;
    display: block;
    width: 308px;
    height: 30px;
    position: absolute;
    right: 531px;
    border-radius: 3px;
    line-height: 30px;
}
.list-banner{
    width: 1300px;
    height: 800px;
    margin: 50px auto 0; 
    padding: 80px 100px 50px;
}
.task{
    float: left;
    width: 505px;
    height: 600px;
    border: 1px solid rgba(255, 103, 0);
}
.task-top{
    width: 100%;
    height: 30px;
    background-color: rgba(255, 103, 0);
}
.finish{
    float: right;
    width: 505px;
    height: 600px;
    border: 1px solid rgba(45, 89, 184);
}
.finish-top{
    width: 100%;
    height: 30px;
    background-color: rgba(45, 89, 184);
}
.list-top{
    width: 100%;
    height: 100px;
}
#finish-img{
    float: right;
    margin-right: 50px;
    margin-top: 15px;
}
#task-img{
    width: 70px;
    height: 85px;
    float: left;
    margin-left: 50px;
    margin-top: 15px;
}
.todolist-div{
    width: 100%;
    height: 570px;
    overflow: hidden;
}
.finishlist-div{
    width: 100%;
    height: 570px;
    overflow: hidden;
}
#todolist{
    list-style: none;
}
#finishlist{
    list-style: none;
}
.tododiv{
    float: left;
    width: 100%;
    margin: 10px;
    overflow: hidden;
}
.finishdiv{
    float: left;
    width: 100%;
    margin: 10px;
    overflow: hidden;
}
.tododiv  input{
    float: left;
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    top: 1px;
}
.tododiv li{
    float: left;
    width: 336px;
    height: 25px;
    display: block;
    font: 15px/22px  'Microsoft YaHei','PingFang SC';
    overflow: hidden;
}
.finishdiv li{
    float: left;
    width: 336px;
    height: 25px;
    display: block;
    font: 15px/22px  'Microsoft YaHei',"PingFang SC";
    overflow: hidden;
}
.tododiv p{
    float: right;
    color: red;
    margin-right: 30px;
    font: 15px "Microsoft YaHei","PingFang SC";
}
.task-top p{
    float: left;
    color: white;
    font-weight: bolder;
    line-height: 30px;
    margin-left: 220px;
}
.finish-top p{
    float: left;
    color: white;
    font-weight: bolder;
    line-height: 30px;
    margin-left: 220px;
}
.task-top img{
    float: right;
    width: 30px;
    height: 30px;
}
.finish-top img{
    float: right;
    width: 30px;
    height: 30px;
}
#todo_btn_div{
    float: right;
    width: 133px;
    height: 24px;
    margin-right: -33px;
    display: none;
}
#finish_btn_div{
    float: right;
    width: 133px;
    height: 24px;
    margin-right: -33px;
    display: none;
}
#detail_todo{
    width: 38px;
    height: 100%;
    background-color: rgba(255, 103, 0);
    color: white;
    font-family: "Microsoft YaHei","PingFang SC";
    border: 1px solid rgba(255, 103, 0);
    border-radius: 3px;
}
#detail_finish{
    width: 38px;
    height: 100%;
    background-color: rgba(45, 89, 184);
    color: white;
    font-family: "Microsoft YaHei","PingFang SC";
    border: 1px solid rgba(45, 89, 184);
    border-radius: 3px;
}
#delete_todo{
    width: 38px;
    height: 100%;
    margin-left: 4px;
    background-color: rgba(255, 103, 0);
    color: white;
    font-family: "Microsoft YaHei","PingFang SC";
    border: 1px solid rgba(255, 103, 0);
    border-radius: 3px;
}
#delete_finish{
    width: 38px;
    height: 100%;
    margin-left: 4px;
    background-color: rgba(45, 89, 184);
    color: white;
    font-family: "Microsoft YaHei","PingFang SC";
    border: 1px solid rgba(45, 89, 184);
    border-radius: 3px;
}
.star_target{
    width: 20px;
    height: 17px;
    float: left;
    position: relative;
    top: 2px;
}
.finish_great{
    width: 22px;
    height: 22px;
    margin-right: 10px;
    float: left;
}