{% extends 'base_platform.html' %}
{% block blog-title %}
    <a href="/{{ username }}">{{ blog.title }}</a>
{% endblock %}
{% block category %}
    {% load my_filter %}
    {% get_classification username %}
{% endblock %}
{% block article_info %}
    {% csrf_token %}
    <div class="article_top">
        <div class="article_count">
            随笔-133&nbsp&nbsp文章-160&nbsp&nbsp评论-500
        </div>
        <div class="title">
            <a href="">{{ article_obj.title }}</a>
        </div>
    </div>
    <div class="content">
        {{ article_obj.content | safe }}
    </div>
    <div class="digg-box">
        <div id="div_digg">
            <div class="diggit">
                <span class="diggnum" id="digg_count">{{ article_obj.up_count }}</span>
            </div>
            <div class="buryit">
                <span class="burynum" id="bury_count">{{ article_obj.down_count }}</span>
            </div>
            <div class="clear"></div>
            <div class="diggword" id="digg_tips" style="color: red;"></div>
        </div>
    </div>
{% endblock %}
{% block comment_info %}
    <div class="comment-area">
            <div class="comment-tree">
                评论树
                <div class="comment-item" comment_id="">

                </div>
            </div>
            {% if comment_obj %}
                <div class="comment-list">
                    评论列表
                </div>
                {% for comment in comment_obj %}
                    <div class="main">
                    <div class="comment-item">
                        <div class="floor-info">
                            <div class="comment-info">
                                #<span>{{ forloop.counter }}</span>楼
                                <a name="{{ comment.pk }}"></a>
                                <span>{{ comment.create_time | date:'Y-m-d H:i:s' }}</span>
                                <span><a href="/{{ comment.user.username }}">{{ comment.user.username }}</a></span>
                            </div>
                            <div class="edit-comment">
                                <a href="">修改</a>
                                <a href="">删除</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-content">
                        {% if comment.parent_comment %}
                            <div class="parent-info">
                                <a href="#{{ comment.parent_comment_id }}">@</a>
                                <span>{{ comment.user.username }}</span>
                            </div>
                        {% endif %}
                        {{ comment.content }}
                        <div class="anwser" comment_id="{{ comment.pk }}">
                            回复
                        </div>
                        <div class="digg_bury">
                            <a href="">支持</a>
                            <a href="">反对</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}


        <div class="article-comment">
            <div class="comment-btn">
                <ul>
                    <li><a href="">刷新评论</a></li>
                    <li><a href="">刷新页面</a></li>
                    <li><a href="">返回顶部</a></li>
                </ul>
            </div>
            <div class="comment-title">
                <img src="/static/img/icon_addcomment.gif" alt="">
                <p>发表评论</p>
            </div>
            <div class="comment-box">
                <div class="comment-peo">
                    <label style="color: darkgrey;font-size: 16px" for="">昵称：</label>
                    <input class="current_user" type="text" value="{{ request.user.username }}" disabled>
                </div>
                <div class="conment-content">
                    <div>
                        <label style="color: darkgrey;font-size: 16px" for="">评论内容：</label>
                    </div>
                    <textarea name="" id="comment-text" cols="80" rows="10"></textarea>
                </div>
                <button class="btn btn-success commit-btn">提交评论</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            // 设置parent_pid默认为空，就是根评论，只有点击了回复按钮后，才会对该变量重新赋值，变为当前评论的主键值
            var parent_pid = ''
            $('.commit-btn').click(function () {
                var comment_content = $('.conment-content textarea').val()

                if(parent_pid){
                    var index = $('.conment-content textarea').val().indexOf('\n')
                    comment_content = $('.conment-content textarea').val().slice(index+1,)
                }

                $.ajax({
                    url: '/comment/',
                    type: 'post',
                    data: {
                        "article_id": '{{ article_obj.pk }}',
                        'comment_content': comment_content,
                        'parent_pid': parent_pid,
                        'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        var s = `<div class="dis-comment">
                                    <div class="new-comment">
                                        <img src="/static/img/icon_comment.gif" alt="">
                                        <p id="peo">
                                            <span class="comment-person">{{ request.user.username }}</span>
                                            <span class="comment-time">${data.create_time}</span>
                                        </p>
                                    </div>
                                    <div class="new-comment-content">${data.comment_content}</div>
                                </div>`
                        console.log(data);
                        //提交子评论后，parent_pid的值变为父评论的pk值，导致再次提交评论时，还是带有父评论的，所以执行清空操作
                        parent_pid = ''
                        // 点击提交按钮后，将已评论的内容清空
                        $('#comment-text').val('')
                        $('.article-comment').before(s)
                    }
                })
            })

            $('.anwser').click(function(){
                parent_pid = $(this).attr('comment_id')
                // 我是通过DOM导航查找到了用户名，但是可以自定义属性，如在回复所在的a标签添加自定义属性username=当前登录用户
                var target_user = $(this).parent().siblings('.comment-item').children().children('.comment-info').children()[3].innerText
                // focus不仅会实现光标选中，而且会跳转到目标控件位置
                $('#comment-text').text('@'+target_user+'\n').focus()
            })

            $('.comment-tree').click(function(){
                $.ajax({
                    url:'/get_comment_tree/',
                    type:'get',
                    data:{
                        'article_id': '{{ article_obj.pk }}',
                    },
                    success:function(data){
                        console.log(data)
                        $.each(data, function(index, value){
                            var s = `<div class="comment-item" comment_id="${value.pk}">${value.content}</div>`

                            if(!value.parent_comment){
                                $('.comment-tree').append(s)
                            }else{
                                console.log(123)
                                var parent_comment = value.parent_comment
                                $('[comment_id='+parent_comment+']').append(s)
                            }
                        })
                    }
                })
            })
        })
    </script>
{% endblock %}
