{% extends 'base_platform.html' %}

{% block blog-title %}
    <a href="/backend/">后台管理</a>
{% endblock %}

{% block category %}
    <div class="panel panel-warning">
        <div class="panel-heading">后台操作</div>
        <div class="panel-body">
            <div>
                <a href="/add_article/">添加新文章</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block article_info %}
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">文章</a></li>
      <li role="presentation"><a href="#">日期</a></li>
      <li role="presentation"><a href="#">随笔</a></li>
    </ul>
    <div class="artile-list">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>文章标题</th>
                    <th>发布时间</th>
                    <th>评论数</th>
                    <th>点赞数</th>
                    <th>操作</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for article in article_list %}
                    <tr>
                        <td><a href="">{{ forloop.counter }}</a></td>
                        <td><a href="">{{ article.title }}</a></td>
                        <td>{{ article.create_time | date:'Y-m-d H:i:s' }}</td>
                        <td>{{ article.comment_count }}</td>
                        <td>{{ article.up_count }}</td>
                        <td><a href="">编辑</a></td>
                        <td><a href="">删除</a></td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}