<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/article_detail.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <script type="text/javascript" src="/static/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/static/js/recommend.js"></script>
</head>
<body>
    <div class="nav-top">
        <div class="blog-title">
            {% block blog-title %}

            {% endblock %}
        </div>
        <div class="nav-btn">
            <a href="/backend/">管理</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                {% block category %}

                {% endblock %}
            </div>
            <div class="col-md-9 ">
                {% block article_info %}

                {% endblock %}

                {% block comment_info %}

                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>