{% extends 'base_platform.html' %}
{% block article_info %}
    {% for article in article_list %}
        <div class="article-item">
            <h5><a href="/{{ username }}/article/{{ article.nid }}">{{ article.title }}</a></h5>
            <div class="article-desc media-right">
                <span>{{ article.desc }}</span>
            </div>
            <div class="article-info small">
                <span>
                    发布于&nbsp{{ article.create_time | date:'Y-m-d H:i:s' }}
                    <span>
                        <img src="/static/img/icon_comment.gif" alt="">
                        <a href="">评论({{ article.comment_count }})</a>
                    </span>
                    <span>
                        <img src="/static/img/icon_arrow.gif" alt="">
                        <a href="">点赞({{ article.up_count }})</a>
                    </span>
                </span>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}