<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客园</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <script type="text/javascript" src="/static/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.3.7/js/bootstrap.js"></script>
    <style type="text/css">
        .glyphicon {
        {#设置元素的垂直对齐方式，上下适当调整位置#} vertical-align: -1px;
        }
        .article-info{
            margin-top: 10px;
        }
        .article-info a{
            text-decoration: none;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">博客园</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">文章</a></li>
                <li><a href="#">博客</a></li>
                <li><a href="#">随笔</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ request.user.username }}
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">我的<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">修改密码</a></li>
                            <li><a href="#">修改头像</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout/">注销</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login/">登录</a></li>
                    <li><a href="/register/">注册</a></li>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-warning">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="article_list">
                {% for article in article_list %}
                    <div class="article-item">
                        <h5><a href="{{ article.user.username }}/article/{{ article.pk }}">{{ article.title }}</a></h5>
                        <div class="user-avatar media-left">
                            <img width="65" height="65" src="/media/{{ article.user.avatar }}" alt="">
                        </div>
                        <div class="article-desc media-right">
                            <span>{{ article.desc }}</span>
                        </div>
                        <div class="article-info small">
                            <span>
                                <a href="/{{ article.user.username }}/">{{ article.user.username }}</a>
                                发布于&nbsp{{ article.create_time | date:'Y-m-d H:i:s' }}
                                <span>
                                    <img src="/static/img/icon_comment.gif" alt="">
                                    <a href="">评论({{ article.comment_count }})</a>

                                </span>
                                <span>
                                    <img src="/static/img/icon_arrow.gif" alt="">
                                    <a href="">点赞({{ article.up_count }})</a>
                                </span>
                            </span>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>