<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label for="">用户名</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">密码</label>
                    <input type="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">验证码</label>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <img width="270" height="40" src="/get_validCode_img" alt="">
                        </div>
                    </div>
                </div>
                <button class="btn btn-default login-btn pull-right">登录</button>
            </div>
        </div>
    </div>
</body>
</html>