<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <style type="text/css">
        .row{
            margin-top: 20%;
        }
        #site-logo{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <img id="site-logo" src="/static/img/logo_small.gif" alt="">
                <p>404. 抱歉! 您访问的资源不存在!</p>
                <p>请确认您输入的网址是否正确，如果问题持续存在，请发邮件至lelevipforever@sina.com与我们联系。</p>
                <a href="/index/">返回网站首页</a>
            </div>
        </div>
    </div>
</body>
</html>