<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <style type="text/css">
        #avatar{
            display: none;
        }
        #avatar_img{
            margin-left: 10px;
        }
        .error{
            color:red;
        }
    </style>
</head>
<body>
    <h3>注册</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form id="form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.auto_id }}">{{ field.label }}</label>
                            {{ field }}
                            <span class="error pull-right"></span>
                        </div>
                    {% endfor %}
                </form>
                <label for="avatar">头像
                    <img width="80" height="80" id="avatar_img" src="/static/img/default.jpg" alt="">
                </label>
                <input type="file" id="avatar">
                <div>
                    <button class="btn btn-default register-btn">提交</button>
                </div>
                <span class="error"></span>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/jquery/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(function(){
        $('#avatar').change(function(){
            var file=$(this)[0].files[0]
            console.log(file)

            var reader=new FileReader()

            reader.readAsDataURL(file)

            reader.onload=function(){
                $('#avatar_img').attr('src',reader.result)
            }
        })
        $('.register-btn').click(function(){
            // 之所以用formdata，是因为要通过Ajax发送上传的文件信息
            var formdata = new FormData()

            // serializeArray方法只能在form标签下使用，获取form标签下的每一个字段，形成一个列表[{name:username,value:alex},{name:password,value:xxx},{...}]
            var form_key=$('#form').serializeArray()

            // 通过$.each(循环元素，function)方法循环列表，并执行function函数，data返回一个字典{name:username,value:alex...}
            $.each(form_key,function(index,data){
                formdata.append(data.name,data.value)
            })
            // 除去特殊的头像值
            formdata.append('avatar',$('#avatar')[0].files[0])

            $.ajax({
                url:'',
                type:'post',
                contentType:false,
                processData:false,
                data:formdata,
                success:function(data){
                    if(data.user){
                        location.href='/login'
                    }else{
                        $('.error').text('')
                        $('.error').parent().removeClass('has-error')

                        //data.msg是字典形式，key为username，value为["This field is required."]是列表
                        $.each(data.msg,function(key,value){
                            if(key=='__all__'){
                                $('#id_'+'r_password').next().text(value)
                            }

                            $('#id_'+key).next().text(value[0])
                            $('#id_'+key).next().parent().addClass('has-error')
                        })
                    }
                }
            })
        })
    })
</script>
</html>