<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        用户名：<input type="text" name="username">
        密码：<input type="password" name="password">
        头像：<input type="file" name="pic">
        <!--如果想提交表单数据，提交按钮不能使用<button></button>标签，使用jquery执行ajax提交时，执行的是get请求，而不是post请求，需要使用<input>标签，type为button即可-->
        <input type="button" id="register" value="提交">
    </form>
</body>
<script type="text/javascript" src="/static/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(function(){
        $('#register').click(function(){
             {#写在JS事件中，如果写在外面视图函数将接收不到任何参数#}
            var formdata = new FormData();
            formdata.append("username",$('[name=username]').val());
            formdata.append("password",$('[name=password]').val());
            {#jquery对象[0]获取JS对象.files[0]在列表中获取文件对象#}
            formdata.append("pic",$('[name=pic]')[0].files[0]);

            $.ajax({
                url:'',
                type: "post",
                contentType:false,
                processData:false,
                data: formdata,
                success:function(data){
                    console.log(data)
                }
            })
        })
    })
</script>
</html>