<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        用户名：<input type="text" name="name">
        文件： <input type="file" name="upload">
        <input type="button" id="register" value="提交">
    </form>
</body>
<script type="text/javascript" src="/static/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $('#register').click(function(){
        var formdata = new FormData()
        formdata.append('name',$('[name=name]').val())
        formdata.append('upload',$('[name=upload]')[0].files[0])
        $.ajax({
            url:'',
            type: 'post',
            contentType: false,
            processData: false,
            data: formdata,
            success:function(data){
                console.log(data)
            }
        })
    })
</script>
</html>