<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/static/datetimepicker/css/bootstrap-datetimepicker.css">
    <style type="text/css">
        .box {
            width: 100%;
            position: relative;
            top: 150px;
        }

        .inner-box {
            position: absolute;
            width: 400px;
            left: 50%;
            margin-left: -200px;
            border: 1px solid green;
            padding: 30px;
        }
    </style>
</head>
<body>
<div class="box">
    <div class="inner-box">
        {% if book_obj %}
            <form action="/books/update/{{ book_obj.id }}/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="book_name">书籍名称</label>
                    <input type="text" class="form-control" name="book_title" id="exampleInputEmail1"
                           value={{ book_obj.title }}>
                </div>
                <div class="form-group">
                    <label for="book_price">发售价格</label>
                    <input type="text" class="form-control" name="book_price" id="exampleInputEmail1"
                           value={{ book_obj.price }}>
                </div>
                <div class="form-group">
                    <label for="book_pubdate">出版日期</label>
                          <input type="text" class="form-control form_datetime" id="addtime" name="book_pubdate"
                                 value={{ book_obj.pub_date|date:'Y-m-d' }}>
                </div>
                <div class="form-group">
                    <label for="book_publish">出版社</label>
                    <input type="text" class="form-control" name="book_publish" id="exampleInputEmail1"
                           value={{ book_obj.publish }}>
                    <button type="submit" id="submit" class="btn btn-primary pull-right">Submit</button>
                </div>
            </form>
        {% else %}
            <form action="/books/add/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="book_name">书籍名称</label>
                    <input type="text" class="form-control" name="book_title" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="book_price">发售价格</label>
                    <input type="text" class="form-control" name="book_price" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="book_pubdate">出版日期</label>
                          <input type="text" class="form-control form_datetime" id="addtime" name="book_pubdate"
                                 value="{{ now }}">
                </div>
                <div class="form-group">
                    <label for="book_publish">出版社</label>
                    <input type="text" class="form-control" name="book_publish" id="exampleInputEmail1">
                </div>
                <button type="submit" id="submit" class="btn btn-primary pull-right">Submit</button>
            </form>
        {% endif %}
        </form>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/static/bootstrap-3.3.7/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/static/datetimepicker/js/locales/bootstrap-datetimepicker.fr.js"></script>
<script type="text/javascript">
    $(function () {
        $('form').submit(function (event) {
            if ($("[name=book_title]").val() == '' || $("[name=book_price]").val() == '' || $("[name=book_pubdate]").val() == '' || $("[name=book_publish]").val() == '') {
                alert('请完整填写表单后再提交')
                return false
            }
            if ($('[name=book_title]').val().length > 15) {
                alert('请填写15个字以内的书籍名称')
                return false
            }
            if ($('[name=book_price]').val() <= 0 || $('[name=book_price]').val() >= 1000) {
                alert('请填写1~999价格区间的数字')
                return false
            }
            if ($('[name=book_publish]').val().length > 15) {
                alert('请填写15个字以内的出版社名称')
                return false
            }
        })
        $('[name=book_price]').click(function () {

        })
        $('.form_datetime').datetimepicker({
            minView: "month", //选择日期后，不会再跳转去选择时分秒
            language: 'zh-CN',
            format: 'yyyy-mm-dd',
            todayBtn: 1,
            autoclose: 1,
        });
    })
</script>
</html>