<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {#生成三个p标签，存储l列表中的111，222，333#}
    {% for i in l %}
    <p>{{ i }}</p>
    {#如果序列列表为空，那么会执行empty下的代码，打印执行结果，必须卸载for...endfor之间#}
    {% empty %}
    <p>列表为空</p>
    {% endfor %}

    {#生成三个p标签，存储循环字典d中的key值，key必须放在{{  }}中#}
    {% for key in d %}
    <p>{{ key }}</p>
    {% endfor %}

    {#循环对象列表，并打印循环对象中的name和age属性值#}
    {% for person in person_list %}
    <p>{{ person.name }},{{ person.age }}</p>
    {% endfor %}

    <hr>
    {% if user %}
        <p><a href="">hi {{ user }}</a></p>
        <p><a href="">注销</a></p>
    {% else %}
        <p><a href="">注册</a></p>
        <p><a href="">登录</a></p>
    {% endif %}

    <hr>

    {% with person_list.1.name as n %}
    <p>{{ n }}</p>
    <p>{{ n }}</p>
    <p>{{ n }}</p>
    {% endwith %}


</body>
</html>