<div class="static-menu">
{{ request.path_info }}
    {% for menu in menu_list %}
        {% if menu.url == request.path_info %}
            <a href="{{ menu.url }}" class="selected">
                <span class="icon-wrap"><i class="fa fa-connectdevelop"></i></span>{{ menu.title }}
            </a>
        {% else %}
            <a href="{{ menu.url }}">
                <span class="icon-wrap"><i class="fa fa-connectdevelop"></i></span>{{ menu.title }}
            </a>
        {% endif %}
    {% endfor %}
</div>