<div class="static-menu">
    {% for menu_title,menu_info in menu_dict.items %}
        <div class="father-menu ">
            <a href='' class="father-menu-item">
                <span class="icon-wrap"><i class="fa {{ menu_info.icon }}"></i></span>{{ menu_info.title }}
            </a>
            <div class="child-menu {{ menu_info.class }}">
                {% for permission in menu_info.permission_list %}
                    <a href='{{ permission.url }}' class="child-menu-item {{ permission.class }}">
                        <span class="icon-wrap">
                            <span class="fa {{ permission.icon }}"></span>
                        </span>
                        {{ permission.title }}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
